In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [11]:
# Importing the dataset
dataset = pd.read_csv('Data.csv')
#:-1 means all columns except the last
x = dataset.iloc[:, :-1].values
y = dataset.iloc[:, 3].values

dataset.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [4]:
#split test and train datasets - setting random_state acts as seed to ensure reproducibility
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, random_state=0)

In [8]:
#impute missing data, which will have 'NaN' values after import
#axis=0 means we are taking the mean across column
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(missing_values = np.nan, strategy='mean')
imputer = imputer.fit(x[:, 1:3])
x[:, 1:3] = imputer.transform(x[:, 1:3])

In [9]:
#encoding categorical data
#column 0 in x is country and y captures whether purchased (yes-no)
from sklearn.preprocessing import LabelEncoder, OneHotEncoder
labelencoder_x = LabelEncoder()
x[:, 0] = labelencoder_x.fit_transform(x[:, 0])

In [15]:
#label encoding is enough for the yes-no column (the y column)
#but we need to employ dummy/one-hot encoding for country column (first column in x) 
onehotencoder = OneHotEncoder()
x = onehotencoder.fit_transform(x).toarray()
labelencoder_y = LabelEncoder()
y = labelencoder_y.fit_transform(y)

In [17]:
#apply feature scaling to prevent salary feature from dominating the model
from sklearn.preprocessing import StandardScaler
sc_x = StandardScaler()
x_train=sc_x.fit_transform(x_train)
x_test=sc_x.fit_transform(x_test)